:root {
    --primary-bg: #b1a1ed ;
    --color-2: #e8e8e8;
    --color-3: #ACBCFF;
    --color-4: #AEE2FF;
    --color-5: #E6FFFD;
    --color-6: #fffcf5;
    --color-7: #f6efe8;
    --text-primary: #494a4d;
    
  }


/* General Styling */

body {
    background-color: var(--primary-bg);
}

.container {
    max-width: 1200px;
}

.test {
    background-color: red;
}

.hidden {
    display: none;
}

.primary-background {
    background-color: var(--color-6);
}

.secondary-background {
    background-color: var(--color-7) ;
}

.primary-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Fonts */

.primary-text {
    font-family: 'Bodoni Moda', serif;
}

.secondary-text {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 25px;
}

.bold {
    font-weight: bolder;
}

.center-text {
    text-align: center;
}

.flexbox-vert {
    display: flex;
    flex-direction: column;
}

.flexbox-horiz {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

/* Navbar */

.navbar-background {
    background-color: var(--primary-bg);
}

.navbar {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar > .links > a {
    padding-left: 20px;
}

a {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-6);
}

a:hover{
    color: var(--color-3);
    text-decoration: none;
    transition: 200ms;
}

.navbar > h3 {
    font-size: 25px;
    color: var(--text-primary);
    text-align: left;
    margin-top: 5px;
    font-weight: lighter;
}

.navbar img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.navbar .dropdown {
    display: none;
}

 /* Dropdown  */

 .dropbtn {
    background-color: var(--primary-bg);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -55px;
    top: 53px;
    background-color: var(--primary-bg);
    border-bottom-left-radius: 10%;
    min-width: 170px;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--color-3);
    text-decoration: none;
    transition: 200ms;
}
  
.show {
    display:block;
} 

/* Footer */

footer {
    padding: 50px;
    text-align: center;
}

/* HOME */

.title-top {
    font-size: 58px;
    color: var(--text-primary);
    font-weight: bolder;
    white-space: nowrap;
}
.title-bottom {
    font-size: 25px;
    color: var(--primary-bg);
    letter-spacing: 3px;
    font-weight: bolder;
    white-space: nowrap;
}

.hero-image {
    height: 400px;
    width: 400px;
    border-radius: 20%;
    object-fit: cover;
}

.hero-image-alt {
    height: 100px;
}

#hero p {
    font-size: 17px;
    width: 500px;
    margin-top: 10px;
}

#hero .flexbox-horiz, #hero-alt .flexbox-horiz {
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.youtube > h2 {
    font-weight: bolder;
    text-align: center;
    padding-bottom: 50px;
}

.youtube > a > img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    border: solid transparent 5px;
}

/* Home Animation */

.youtube > a > img:hover {
    border: solid var(--primary-bg) 5px;
    transition: 200ms;
}

/*  */

/* Videos Page */

#videos .flexbox-horiz {
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

#videos h3 {
    max-width: 500px;
}

#videos .primary-background h2, #videos .primary-background h3, #videos .primary-background p {
    text-align: right;
}

iframe {
    border: solid transparent 5px;
    border-radius: 5px;
}

iframe:hover {
    border: solid var(--primary-bg) 5px;
    transition: 200ms;
}

.video-text h2 {
    color:#573d6d;
}

/* Resume Page */

#resume img{
    border:double 20px;
    background-color: white;
    justify-content: center;
    margin-bottom: 100px;
}

/* Events Page */

.primary-btn {
    display: flex;
    justify-content: end;
}

#upcoming-events-table, #past-events-table {
    padding-top: 50px;
    padding-bottom: 50px;
}

.event-list-title {
    text-align: center; 
    padding-bottom: 50px;
}

.btn {
    background-color: #b1a1ed;
}
.btn:hover {
    background-color: #ACBCFF;
}

/* Device Adjustments */

@media (max-width: 1200px){
    body {
        text-align: center;
    }
    .container {
        max-width: 98%;
    }
    .flexbox-horiz {
        justify-content: space-evenly;
    }

    #videos .flexbox-horiz {
        flex-direction: column;
    }

    #videos .primary-background .flexbox-horiz {
        flex-direction: column-reverse;
    }

    #videos .primary-background h3, #videos .primary-background p {
        text-align: center;
    }
      
    
}

@media (max-width: 655px){
    .navbar .dropdown {
        display: inline-block;
    }

    .links {
        display: none;
    }
    
    nav ul .dropdown-logo {
        display: block;
        width: 50px;
        border: solid 5px;
    } 

    h2 {
        font-size: 29px;
    }

    .title-top {
        font-size: 29px;
    }
    .title-bottom {
        font-size: 13px;
        letter-spacing: 1.5px;
    }

    #hero p {
        font-size: 10px;
        width: 250px;
    }

    .hero-image {
        width: 200px;
        height: 200px;
    }
    .primary-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #resume img {
        margin-bottom: 25px;
    }

    .hero-image-alt {
        height: 50px;
    }

    .event-list-title {
        font-size: 25px;
    }

    iframe {
        width: 225px;
        height: 190px;
    }

    .video-text h3 {
        font-size: 20px;
    }

    .video-text p {
        font-size: 15px;
    }
}

/* @media (max-width: 390px) {
    
} */