:root {
    --primary-bg: #b1a1ed ;
    --color-2: #e8e8e8;
    --color-3: #ACBCFF;
    --color-4: #AEE2FF;
    --color-5: #E6FFFD;
    --color-6: #fffcf5;
    --color-7: #f6efe8;
    --text-primary: #494a4d;
    
  }


/* General Styling */

.test {
    background-color: red;
}

.hidden {
    display: none;
}

.primary-background {
    background-color: var(--color-6);
}

.secondary-background {
    background-color: var(--color-7) ;
}

.primary-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* Fonts */

.primary-text{
    font-family: 'Bodoni Moda', serif;
}

.secondary-text{
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 25px;
}

.bold {
    font-weight: bolder;
}

.center-text {
    text-align: center;
}

/* Navbar */

.navbar-background{
    background-color: var(--primary-bg);
}

.navbar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.navbar > .links > a{
    padding-left: 20px;
    font-weight:bold;
    font-size: 20px;
    color: var(--color-6);
}

.navbar > .links > a:hover{
    color: var(--color-3);
    text-decoration: none;
    transition: 200ms;
}

.navbar > h3{
    font-size: 25px;
    color: var(--text-primary);
    text-align: left;
    margin-top: 5px;
    font-weight: lighter;
}

.title-logo{
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
}

.title-top{
    font-size: 58px;
    color: var(--text-primary);
    font-weight: bolder;
}
.title-bottom{
    font-size: 25px;
    color: var(--primary-bg);
    letter-spacing: 3px;
    font-weight: bolder;
}

.home-background{
    background-color: var(--color-6);
}

.flexbox-vert{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexbox-horiz{
    display: flex;
    object-fit: cover;
    flex-direction: row;
    justify-content: space-between;
}

.hero-image{
    height: 400px;
    width: 400px;
    border-radius: 20%;
    object-fit: cover;
}
.hero-image-alt {
    width: 100px;
}

#hero-alt .flexbox-horiz{
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.about-background{
    background-color: var(--color-7) ;
}

.about{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: right;
}

.about > h2{
    font-weight: bolder;
}

.about > p{
    margin-top: 50px;
    font-size: 25px;
}

.youtube-background{
    background-color: var(--color-6);
}

.youtube{
    padding-top: 100px;
    padding-bottom: 100px;
}

.youtube > h2{
    font-weight: bolder;
    text-align: center;
    padding-bottom: 50px;
}

.youtube > a > img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

/* Home Animation */

.youtube > a > img:hover {
    transform: scale(105%);
    transition: 500ms;
}

/* Videos Page */

#videos .flexbox-horiz {
    align-items: center;
}

#videos h3 {
    max-width: 500px;
}

#videos .primary-background h3, #videos .primary-background p {
    text-align: right;
}

iframe:hover {
    transform: scale(110%);
    transition: 500ms;
}

/* Resume Page */

#resume img{
    border:double 20px;
    background-color: white;
    justify-content: center;
    margin-bottom: 100px;
}

@media (max-width: 991px){
    .navbar > .links > a{
        font-size: 17px;
    }
    
    .flexbox-horiz{
        flex-direction: column;
        align-items: center;
        padding-top: 250px;
        gap: 250px;
    }
    
    .youtube > a > img{
        width: 100%;
    }
}

@media (max-width: 766px){
    .navbar{
        justify-content: center;
    }

    .navbar >  h1{
        display: none;
    }

    .navbar > .links > a{
        font-size: 20px;
    }

    .about > p{
        font-size: 18px;
    }

}

@media (max-width: 520px){
    .navbar > .links > a{
        font-size: 15px;
    }

    .title-logo{
        height: 100px;
        width: 100px;
        margin-bottom: 7.5px;
    }
    
    .title-top{
        font-size: 29px;
        color: var(--text-primary);
    }
    .title-bottom{
        font-size: 12.5px;
        color: var(--primary-bg);
        letter-spacing: 1.5px;
    }
    .profile-image{
        width: 200px;
        height: 100%;
    }
    
    .home-flexbox-horiz{
        padding-top: 100px;
        padding-bottom: 100px;
        gap: 100px
    }

    .about{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .youtube{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 322px){
    .about > p{
        font-size: 12.5px;
        font-weight: bolder;
    }

    .title-logo{
        height: 75px;
        width: 75px;
        margin-bottom: 5.625px;
    }
    
    .title-top{
        font-size: 21.75px;
        color: var(--text-primary);
    }
    .title-bottom{
        font-size: 9.375px;
        color: var(--primary-bg);
        letter-spacing: 1.125px;
    }


}